<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.nosnow.gmall1108.manage.mapper.SkuInfoMapper">
    <select  id ="selectSkuInfoListBySpu" parameterType="long" resultMap="skuInfoListMap">
        SELECT sku.*,
        si.id skuimage_id,
        si.img_name,
        si.img_url,
        si.spu_img_id,
        si.is_default,
        ss.id sku_sale_attr_value_id,
        ss.sale_attr_id,
        ss.sale_attr_value_id,
        ss.sale_attr_name,
        ss.sale_attr_value_name,
        sv.id sku_attr_value_id,
        sv.attr_id,
        sv.value_id
        FROM sku_info sku
        LEFT JOIN  sku_image si  ON sku.id =si.sku_id
        LEFT JOIN  sku_sale_attr_value ss ON sku.id =ss.sku_id
        LEFT JOIN  sku_attr_value  sv ON sku.id =sv.sku_id
        where  sku.spu_id=#{spu_id}
    </select>
    <resultMap id="skuInfoListMap" type="cn.nosnow.gmall.bean.SkuInfo" autoMapping="true">
        <result property="id" column="id" />

        <collection property="skuImageList" ofType="cn.nosnow.gmall.bean.SkuImage" autoMapping="true">
            <result property="id" column="skuimage_id" />
            <result property="skuId" column="id" />
        </collection>

        <collection property="skuSaleAttrValueList" ofType="cn.nosnow.gmall.bean.SkuSaleAttrValue" autoMapping="true">
            <result property="id" column="sku_sale_attr_value_id" />
            <result property="skuId" column="id" />
        </collection>

        <collection property="skuAttrValueList" ofType="cn.nosnow.gmall.bean.SkuAttrValue" autoMapping="true">
            <result property="id" column="sku_attr_value_id" />
            <result property="skuId" column="id" />
        </collection>
    </resultMap>
</mapper>